.section-products {
    display: flex;
    overflow-y: auto;
    margin: 0 10px 50px 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

section::-webkit-scrollbar {
    display: none;
}

@media only screen and (min-width: 768px) {
    .section-products {
        width: 65%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
}